@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Ubuntu";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Ubuntu";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #35424b;
  font-size: 14px;
}
body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container {
  max-width: 1332px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  border-radius: 100px;
  padding: 0px 30px;
  color: #fff;
  font-weight: 700;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media (min-width: 991.98px) {
  .btn:hover {
    text-decoration: underline;
  }
}
.btn.fw {
  width: 100%;
}
.btn_b {
  background-color: #22c3ca;
}
.btn_w {
  background-color: #fff;
  color: #22c3ca;
}
@media (max-width: 479.98px) {
  .btn {
    height: 40px;
  }
}

input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0;
  width: 100%;
  display: block;
  font-size: 16px;
  font-weight: 500;
}
textarea.input {
  resize: none;
  padding: 0px 0px;
}

.quantity {
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
  border: 2px solid #22c3ca;
  border-radius: 50%;
  margin: 0px 4px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.quantity__button::before {
  content: "";
  position: absolute;
  background-color: #22c3ca;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 2px;
  transform: translate3d(-50%, 0px, 0px);
  -webkit-transform: translate3d(-50%, 0px, 0px);
  -ms-transform: translate3d(-50%, 0px, 0px);
  -o-transform: translate3d(-50%, 0px, 0px);
  -moz-transform: translate3d(-50%, 0px, 0px);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.quantity__button::after {
  content: "";
  position: absolute;
  background-color: #22c3ca;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 2px;
  -webkit-transform: translate(-50%, 0) rotate(-90deg);
          transform: translate(-50%, 0) rotate(-90deg);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media (min-width: 991.98px) {
  .quantity__button:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@media (min-width: 991.98px) {
  .quantity__button:hover::before, .quantity__button:hover::after {
    background-color: #000;
  }
}
.quantity__button_minus::after {
  content: "";
  display: none;
}
.quantity__input {
  width: 56px;
  border: 1px solid #f6f6f6;
  border-radius: 8px;
  overflow: hidden;
  margin: 0px 4px;
}
.quantity__input input {
  height: 100%;
  color: #35424b;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

.check {
  position: relative;
  padding-left: 25px;
  color: #5f5f5f;
  line-height: 18px;
  cursor: pointer;
}
.check input {
  display: none;
}
.check:before {
  content: "";
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #a3a3a3;
  position: absolute;
}
.check.active:before {
  background: url("../img/icons/check.svg") center no-repeat;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.rating.edit .star {
  cursor: pointer;
}
.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.title {
  font-weight: 700;
  line-height: 150%;
  font-size: 32px;
}
@media (max-width: 1332px) {
  .title {
    font-size: calc(21px + 11 * ((100vw - 320px) / 1012));
  }
}
.title_w {
  color: #fff;
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie .ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body.ie .ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.swiper {
  overflow: hidden;
}
.swiper > div {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.swiper.swiper-container-autoheight > div {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.popup {
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed !important;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.popup__body {
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px;
}
.popup__content {
  border-radius: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  position: relative;
  padding: 40px 10px 20px 10px;
  margin: 0px auto;
  background-color: #22c3ca;
}
.popup__close {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}
.popup__form {
  text-align: center;
}
.popup__form *:last-child {
  margin-bottom: 0;
}
.popup__inp {
  margin: 0px 0px 20px 0px;
}
.popup__inp .input {
  height: 50px;
  border-radius: 10px;
  padding: 0px 20px;
}
/*! nouislider - 14.6.0 - 6/27/2020 */
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.noUi-target {
  position: relative;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

/* Wrapper for all connect elements.
 */
.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  -webkit-transform-style: flat;
          transform-style: flat;
}

.noUi-connect {
  height: 100%;
  width: 100%;
}

.noUi-origin {
  height: 10%;
  width: 10%;
}

/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 18px;
}

.noUi-horizontal .noUi-handle {
  width: 30px;
  height: 30px;
  right: -11.5px;
  top: -14px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  top: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
  height: 4px;
  background-color: #eaeaea;
  margin: 0px 11px 50px;
  position: relative;
}
.noUi-target::before, .noUi-target::after {
  content: "";
  background-color: #eaeaea;
  width: 11px;
  height: 4px;
  position: absolute;
  top: 0;
}
.noUi-target::before {
  left: -10px;
}
.noUi-target::after {
  right: -10px;
}

.noUi-connect {
  background-color: #22c3ca;
}

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  cursor: pointer;
  border: 8px solid #fff;
  background-color: #22c3ca;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 8px rgba(53, 66, 75, 0.6);
          box-shadow: 0 4px 8px rgba(53, 66, 75, 0.6);
}
.noUi-handle::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 3px;
  top: 3px;
  border-radius: 50%;
}

.noUi-handle-lower .noUi-tooltip::before {
  content: "від ";
}
.noUi-handle-lower .noUi-tooltip::after {
  content: " днів";
}
@media (max-width: 767.98px) {
  .noUi-handle-lower .noUi-tooltip::before, .noUi-handle-lower .noUi-tooltip::after {
    content: "";
    display: none;
  }
}

@media (min-width: 767.98px) {
  .noUi-handle-upper .noUi-tooltip {
    top: 35px;
  }
}
.noUi-handle-upper .noUi-tooltip::before {
  content: "до ";
}
.noUi-handle-upper .noUi-tooltip::after {
  content: " днів";
}
@media (max-width: 767.98px) {
  .noUi-handle-upper .noUi-tooltip {
    right: -10px;
  }
  .noUi-handle-upper .noUi-tooltip::before, .noUi-handle-upper .noUi-tooltip::after {
    content: "";
    display: none;
  }
}

/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #b8b8b8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

/* Values;
 *
 */
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #ccc;
}

.noUi-marker-sub {
  background: #aaa;
}

.noUi-marker-large {
  background: #aaa;
}

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  color: #999999;
  font-size: 12px;
  position: absolute;
}

.noUi-tooltip {
  white-space: nowrap;
  color: #fff;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  left: 50%;
  bottom: -22px;
}

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

.header {
  padding: 0px 8px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__content {
  background-color: #fff;
  max-width: 1360px;
  margin: 0px auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
  height: 95px;
}
@media (max-width: 680px) {
  .header__content {
    height: 50px;
  }
}
.header__logo {
  background-color: #22c3ca;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0px 50px;
}
.header__logo img {
  max-width: 100%;
}
@media (max-width: 1280px) {
  .header__logo {
    padding: 0px 25px;
  }
}
@media (max-width: 1100px) {
  .header__logo {
    padding: 0px 15px;
  }
}
@media (min-width: 681px) {
  .header__globe {
    display: none;
  }
}
.header__num-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 680px) {
  .header__num-btn {
    display: none;
  }
}
.header__btn-block {
  margin: 0px 0px 0px 45px;
  padding: 0px 25px;
  border-left: 1px solid #f7f5f5;
}
@media (max-width: 1280px) {
  .header__btn-block {
    padding: 0px 10px;
    margin: 0px 0px 0px 25px;
  }
}
@media (max-width: 1100px) {
  .header__btn-block {
    margin: 0px 0px 0px 15px;
  }
}
.menu {
  padding: 0px 25px;
}
@media (min-width: 681px) {
  .menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
@media (max-width: 1280px) {
  .menu {
    padding: 0px 10px;
  }
}
@media (max-width: 680px) {
  .menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0px 25px;
  }
}
@media (max-width: 680px) {
  .menu__icon {
    margin: 0px 0px 0px 25px;
  }
}
@media (max-width: 991.98px) {
  .menu__body {
    padding: 70px 10px 0px 10px;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    overflow: auto;
    transform: translate3d(0px, -100%, 0px);
    -webkit-transform: translate3d(0px, -100%, 0px);
    -ms-transform: translate3d(0px, -100%, 0px);
    -o-transform: translate3d(0px, -100%, 0px);
    -moz-transform: translate3d(0px, -100%, 0px);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    text-align: center;
  }
  .menu__body.active {
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
  }
}
.menu__list {
  margin: 0px 0px 15px 0px;
}
@media (min-width: 991.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 991.98px) {
  .menu__list:last-child {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 991.98px) {
  .menu__list {
    text-align: center;
    margin: 0px 0px 20px 0px;
  }
}
.menu__list li {
  margin: 0px 35px 0px 0px;
}
.menu__list li:last-child {
  margin: 0px 0px 0px 0px;
}
@media (max-width: 1280px) {
  .menu__list li {
    margin: 0px 15px 0px 0px;
  }
}
@media (max-width: 991.98px) {
  .menu__list li {
    margin: 0px 0px 20px 0px;
  }
}
.menu__list_blue .menu__link {
  color: #22c3ca;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.8px;
}
.menu__list_blue .menu__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  left: 50%;
  height: 1px;
  background-color: #22c3ca;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  transform: translate3d(-50%, 0px, 0px);
  -webkit-transform: translate3d(-50%, 0px, 0px);
  -ms-transform: translate3d(-50%, 0px, 0px);
  -o-transform: translate3d(-50%, 0px, 0px);
  -moz-transform: translate3d(-50%, 0px, 0px);
}
@media (min-width: 991.98px) {
  .menu__list_blue .menu__link:hover {
    text-decoration: none;
  }
  .menu__list_blue .menu__link:hover::after {
    content: "";
    width: 100%;
  }
}
.menu__link {
  color: #cccccc;
  font-size: 12px;
  line-height: 133.3333333333%;
  position: relative;
  padding: 0px 0px 5px 0px;
}
@media (min-width: 991.98px) {
  .menu__link:hover {
    text-decoration: underline;
  }
}
@media (max-width: 991.98px) {
  .menu__link {
    font-size: 20px;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 991.98px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #22c3ca;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.num-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 0px 25px;
  border-left: 1px solid #f7f5f5;
}
@media (max-width: 1280px) {
  .num-header {
    padding: 0px 0px 0px 10px;
  }
}
.num-header__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
  height: 32px;
  border: 1px solid #22c3ca;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.num-header__icon img {
  max-width: 100%;
}
@media (min-width: 991.98px) {
  .num-header__icon:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@media (max-width: 1100px) {
  .num-header__icon {
    display: none;
  }
}
@media (min-width: 681px) {
  .num-header__body {
    padding: 0px 0px 0px 8px;
  }
}
@media (max-width: 680px) {
  .num-header__body {
    margin: 0px 0px 20px 0px;
  }
}
.num-header__phone {
  white-space: nowrap;
  display: block;
  color: #000;
  font-size: 15px;
  font-weight: 700;
}
@media (max-width: 680px) {
  .num-header__phone {
    font-size: 18px;
  }
}
.num-header__order {
  font-size: 12px;
  color: #22c3ca;
  line-height: 133.3333333333%;
}
@media (max-width: 680px) {
  .num-header__order {
    font-size: 18px;
  }
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/
.footer {
  padding-top: 80px;
  padding-bottom: 100px;
}
@media (max-width: 1332px) {
  .footer {
    padding-top: calc(30px + 50 * ((100vw - 320px) / 1012));
  }
}
@media (max-width: 1332px) {
  .footer {
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 1012));
  }
}
@media (min-width: 991.98px) {
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.footer__main-info {
  margin: 0px 30px 0px 0px;
}
@media (max-width: 991.98px) {
  .footer__main-info {
    margin: 0px 0px 30px 0px;
  }
}
.footer__contacts {
  margin: 0px 0px 50px 0px;
}
@media (max-width: 767.98px) {
  .footer__contacts {
    margin: 0px 0px 25px 0px;
  }
}
.footer__contacts li {
  margin: 0px 0px 15px 0px;
}
.footer__contacts li:last-child {
  margin: 0px 0px 0px 0px;
}
.footer__info-link-block {
  position: relative;
}
.footer__info-link-block::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 22px;
  height: 24px;
  background: url("../img/icons/mail-opened.svg") 0 0 no-repeat;
}
.footer__info-link {
  font-weight: 500;
  font-size: 16px;
  color: #35424b;
  line-height: 150%;
  padding: 0px 0px 0px 25px;
}
.footer__info-link_email {
  color: #22c3ca;
  text-decoration: underline;
  position: relative;
}
.footer__info-link_email::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 22px;
  height: 24px;
  background: url("../img/icons/mail-opened.svg") 0 0 no-repeat;
}
.footer__info-link_phone {
  display: block;
}
.footer__info-link_city {
  position: relative;
}
.footer__info-link_city::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 22px;
  height: 24px;
  background: url("../img/icons/mail-opened.svg") 0 0 no-repeat;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__socials li {
  margin: 0px 40px 0px 0px;
}
.categories-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -16px;
}
@media (max-width: 767.98px) {
  .categories-footer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.categories-footer__column {
  padding: 0px 16px;
}
@media (max-width: 767.98px) {
  .categories-footer__column {
    margin: 0px 0px 20px 0px;
  }
  .categories-footer__column:last-child {
    margin: 0px 0px 0px 0px;
  }
}
.categories-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
@media (max-width: 767.98px) {
  .categories-footer__item {
    padding: 20px 20px 10px 20px;
  }
}
.categories-footer__title {
  display: inline-block;
  font-size: 12px;
  color: #22c3ca;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 133.3333333333%;
  text-transform: uppercase;
  margin: 0px 0px 10px 0px;
}
@media (min-width: 767.98px) {
  .categories-footer__title {
    border-bottom: 1px solid #f7f5f5;
  }
}
.categories-footer__list li {
  margin: 0px 0px 10px 0px;
}
.categories-footer__list li:last-child {
  margin: 0px 0px 0px 0px;
}
.categories-footer__link {
  color: #35424b;
  line-height: 142.8571428571%;
}

@media (max-width: 767.98px) {
  .categories-footer__item {
    background-color: rgba(34, 195, 202, 0.1);
  }

  .categories-footer__item._init .categories-footer__title {
    cursor: pointer;
  }

  .categories-footer__item._init .categories-footer__title::before,
.categories-footer__item._init .categories-footer__title::after {
    content: "";
    width: 20px;
    height: 1px;
    background-color: #000;
    position: absolute;
    right: 10px;
    top: 30px;
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }

  .categories-footer__item._init .categories-footer__title::after {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }

  .categories-footer__item._init .categories-footer__title._active::after {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.fullscreen {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 95px 0px 20px 0px;
  position: relative;
}
@media (max-width: 680px) {
  .fullscreen {
    padding: 50px 0px 20px 0px;
  }
}
@media (max-width: 479.98px) {
  .fullscreen {
    padding: 50px 0px 20px 0px;
  }
}
.fullscreen__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 10px;
  position: relative;
  z-index: 2;
  max-width: 1108px;
  margin: 0px auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.fullscreen__phone {
  position: fixed;
  z-index: 4;
  bottom: 20px;
  right: 20px;
  background-color: #22c3ca;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.fullscreen__phone img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38px;
          flex: 0 0 38px;
  height: 38px;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0px);
  -webkit-transform: translate3d(-50%, -50%, 0px);
  -ms-transform: translate3d(-50%, -50%, 0px);
  -o-transform: translate3d(-50%, -50%, 0px);
  -moz-transform: translate3d(-50%, -50%, 0px);
}
@media (min-width: 991.98px) {
  .fullscreen__phone:hover {
    -webkit-transform: rotate(-10deg) scale(1.1);
            transform: rotate(-10deg) scale(1.1);
  }
}
@media (max-height: 500px) {
  .fullscreen__phone {
    width: 50px;
    height: 50px;
  }
  .fullscreen__phone img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20px;
            flex: 0 0 20px;
    height: 20px;
  }
}
@media (max-height: 430px) {
  .fullscreen__phone {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .fullscreen__phone {
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: rgba(34, 195, 202, 0.8);
  }
}
@media (max-width: 767.98px) and (max-width: 1332px) {
  .fullscreen__phone {
    bottom: calc(5px + 15 * ((100vw - 320px) / 1012));
  }
}
@media (max-width: 767.98px) and (max-width: 1332px) {
  .fullscreen__phone {
    right: calc(5px + 15 * ((100vw - 320px) / 1012));
  }
}
@media (max-width: 767.98px) {
  .fullscreen__phone img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20px;
            flex: 0 0 20px;
    height: 20px;
  }
}
.fullscreen__title {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
}
.fullscreen__text {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  line-height: 150%;
  margin: 0px 0px 20px 0px;
}
.fullscreen__search {
  position: relative;
  margin: 0px 0px 20px 0px;
}
.fullscreen__search::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: 15px;
  top: 50%;
  background: url("../img/icons/Search.png") 0 0 no-repeat;
  width: 32px;
  height: 32px;
  transform: translate3d(0px, -50%, 0px);
  -webkit-transform: translate3d(0px, -50%, 0px);
  -ms-transform: translate3d(0px, -50%, 0px);
  -o-transform: translate3d(0px, -50%, 0px);
  -moz-transform: translate3d(0px, -50%, 0px);
}
@media (max-width: 479.98px) {
  .fullscreen__search::before {
    display: none;
  }
}
.fullscreen__search .input {
  border-radius: 8px;
  color: #9b9b9b;
  font-size: 16px;
  font-weight: 500;
  height: 70px;
  padding: 25px 65px;
}
@media (max-width: 479.98px) {
  .fullscreen__search .input {
    padding: 20px;
    height: 50px;
  }
}
@media (max-width: 767.98px) {
  .fullscreen__search {
    margin: 0px 0px 15px 0px;
  }
}
.fullscreen__row-box {
  display: none;
}
.fullscreen__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}
.fullscreen__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 15px;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 1088px) {
  .fullscreen__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 767.98px) {
  .fullscreen__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (max-width: 479.98px) {
  .fullscreen__column {
    margin: 0px 0px 10px 0px;
  }
}
.fullscreen__hide-show {
  text-align: center;
  margin: 0px 0px 30px 0px;
}
.fullscreen__show, .fullscreen__hide {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.fullscreen__show span, .fullscreen__hide span {
  position: relative;
  padding: 0px 0px 3px 0px;
}
.fullscreen__show span::after, .fullscreen__hide span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  border-bottom: 1px dashed #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media (min-width: 991.98px) {
  .fullscreen__show span:hover::after, .fullscreen__hide span:hover::after {
    opacity: 1;
    visibility: visible;
  }
}
.fullscreen__show._active, ._active.fullscreen__hide {
  opacity: 0;
  visibility: hidden;
}
.fullscreen__hide {
  text-align: center;
}
.fullscreen__hide span {
  position: relative;
  padding: 0px 0px 3px 0px;
}
.fullscreen__hide span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  border-bottom: 1px dashed #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media (min-width: 991.98px) {
  .fullscreen__hide span:hover::after {
    opacity: 1;
    visibility: visible;
  }
}
.fullscreen__btn {
  margin: 30px 0px 0px 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.fullscreen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.calendar-item__calendar {
  position: relative;
  margin: 0px 0px 15px 0px;
}
.calendar-item__calendar::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: 15px;
  top: 50%;
  background: url("../img/icons/Calendar.svg") 0 0 no-repeat;
  width: 25px;
  height: 24px;
  transform: translate3d(0px, -50%, 0px);
  -webkit-transform: translate3d(0px, -50%, 0px);
  -ms-transform: translate3d(0px, -50%, 0px);
  -o-transform: translate3d(0px, -50%, 0px);
  -moz-transform: translate3d(0px, -50%, 0px);
}
.calendar-item__calendar .input {
  border-radius: 8px;
  height: 72px;
  padding: 0px 55px;
}
@media (max-width: 479.98px) {
  .calendar-item__calendar .input {
    height: 50px;
  }
}
.calendar-item__check {
  color: #ffffff;
}
.day-filter__title {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin: 0px 0px 20px 0px;
}
.people-fullscreen__title {
  height: 72px;
  background-color: #fff;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 50px;
  position: relative;
}
@media (max-width: 479.98px) {
  .people-fullscreen__title {
    height: 50px;
  }
}
.people-fullscreen__title._active {
  border-radius: 8px 8px 0 0;
}
.people-fullscreen__title._active::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.people-fullscreen__title::before, .people-fullscreen__title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate3d(0px, -50%, 0px);
  -webkit-transform: translate3d(0px, -50%, 0px);
  -ms-transform: translate3d(0px, -50%, 0px);
  -o-transform: translate3d(0px, -50%, 0px);
  -moz-transform: translate3d(0px, -50%, 0px);
}
.people-fullscreen__title::before {
  left: 15px;
  background: url("../img/icons/person.svg") 0 0 no-repeat;
  width: 17px;
  height: 24px;
}
.people-fullscreen__title::after {
  cursor: pointer;
  right: 15px;
  background: url("../img/icons/arr.png") 0 0 no-repeat;
  width: 19px;
  height: 10px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.people-fullscreen__count {
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  padding: 10px 15px 30px 15px;
}
@media (max-width: 479.98px) {
  .people-fullscreen__count {
    padding: 10px;
  }
}
.people-fullscreen__item-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 15px 0px;
}
.people-fullscreen__item-small:last-child {
  margin: 0px 0px 0px 0px;
}
.people-fullscreen__label {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.sales {
  background-color: #fbfbfb;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 1332px) {
  .sales {
    padding-top: calc(30px + 50 * ((100vw - 320px) / 1012));
  }
}
@media (max-width: 1332px) {
  .sales {
    padding-bottom: calc(30px + 50 * ((100vw - 320px) / 1012));
  }
}
.sales__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sales__main-title {
  margin: 0px 0px 25px 0px;
}
.sales__filter {
  margin: 0px 0px 30px 0px;
}
.sales__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -16px 40px -16px;
}
@media (min-width: 680px) {
  .sales__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 680px) {
  .sales__items {
    margin: 0px -7.5px;
    overflow: auto;
  }
}
.sales__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0px 16px;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 1180px) {
  .sales__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
}
@media (max-width: 991.98px) {
  .sales__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 680px) {
  .sales__column {
    padding: 0px 7.5px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
  }
}
.sales__item {
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #f6f6f6;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (min-width: 991.98px) {
  .sales__item:hover {
    -webkit-box-shadow: 0 8px 24px rgba(34, 195, 202, 0.24);
            box-shadow: 0 8px 24px rgba(34, 195, 202, 0.24);
  }
}
.sales__image {
  display: block;
  padding: 0px 0px 58.48% 0px;
  position: relative;
  overflow: hidden;
}
.sales__image img {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.sales__labels {
  position: absolute;
  padding: 15px;
  text-align: right;
}
.sales__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  background-color: #22c3ca;
  border-radius: 4px;
  padding: 0px 15px;
  margin: 0px 0px 5px 0px;
  color: #ffffff;
  font-size: 10px;
}
.sales__body {
  padding: 15px 15px 25px;
}
.sales__id {
  color: #9b9b9b;
  font-size: 10px;
}
.sales__title {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
.sales__city {
  line-height: 171.4285714286%;
  margin: 0px 0px 15px 0px;
}
.sales__accommodation {
  margin: 0px 0px 15px 0px;
}
.sales__price-perperson {
  margin: 0px 0px 5px 0px;
}
.sales__price-perperson span {
  font-size: 24px;
  line-height: 100%;
  font-weight: 500;
}
.sales__price {
  color: #9b9b9b;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  margin: 0px 0px 15px 0px;
}
.sales__compare {
  color: #22c3ca;
  position: relative;
  padding: 0px 0px 0px 25px;
}
.sales__compare::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  background: url("../img/icons/compare.png") 0 0 no-repeat;
}
@media (min-width: 991.98px) {
  .sales__compare span:hover {
    border-bottom: 1px dashed #22c3ca;
  }
}
.sales__btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 991.98px) {
  .sales__item:hover .sales__image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}
.filter__list li {
  margin: 0px 15px 0px 0px;
}
.filter__list li:last-child {
  margin: 0px 0px 0px 0px;
}
.filter__label {
  cursor: pointer;
  padding: 0px 15px;
  border: 2px solid #22c3ca;
  border-radius: 100px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #22c3ca;
  height: 32px;
  white-space: nowrap;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media (min-width: 991.98px) {
  .filter__label:hover {
    background-color: rgba(34, 195, 202, 0.1);
  }
}
.filter__label.active {
  background-color: #22c3ca;
  color: #fff;
}

.aspects-sales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.aspects-sales li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0px 0px 15px 0px;
}
.aspects-sales li:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.aspects-sales__date {
  font-size: 12px;
  position: relative;
  padding: 0px 0px 0px 25px;
}
.aspects-sales__date::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  background: url("../img/icons/calendar-black.png") 0 0 no-repeat;
}
.aspects-sales__visa {
  font-size: 12px;
  position: relative;
  padding: 0px 0px 0px 25px;
}
.aspects-sales__visa::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  background: url("../img/icons/circle.png") 0 0 no-repeat;
}
.aspects-sales__from {
  font-size: 12px;
  position: relative;
  padding: 0px 0px 0px 25px;
}
.aspects-sales__from::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  background: url("../img/icons/plane.png") 0 0 no-repeat;
}

.accommodation-sales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.accommodation-sales__hotel-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.accommodation-sales__title {
  font-size: 10px;
  line-height: 160%;
}
.accommodation-sales__eat-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.accommodation-sales__status {
  font-size: 12px;
  line-height: 200%;
}

.rating {
  position: relative;
  font-size: 20px;
  display: inline-block;
}
.rating::before {
  content: "★★★★★";
  display: block;
}
.rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  overflow: hidden;
}
.rating__item {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}
.rating__label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  position: relative;
}
.rating__label::before {
  content: "★";
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #000;
}
.rating__label_active::before {
  content: "★";
  color: #22c3ca;
}

.newsletter {
  background-color: #22c3ca;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 1332px) {
  .newsletter {
    padding-top: calc(10px + 30 * ((100vw - 320px) / 1012));
  }
}
@media (max-width: 1332px) {
  .newsletter {
    padding-bottom: calc(10px + 30 * ((100vw - 320px) / 1012));
  }
}
.newsletter__content *:last-child {
  margin-bottom: 0;
}
.newsletter__title {
  margin: 0px 0px 30px 0px;
}
.newsletter__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1344px) {
  .newsletter__row {
    margin: 0px -15px;
  }
}
.newsletter__column {
  margin: 0px 0px 10px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (min-width: 1344px) {
  .newsletter__column:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 0px 140px 0px 0px;
  }
  .newsletter__column_sec {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 416px;
            flex: 0 0 416px;
  }
}
@media (max-width: 1344px) {
  .newsletter__column {
    padding: 0px 15px;
  }
}
@media (max-width: 991.98px) {
  .newsletter__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.newsletter__label {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 133.3333333333%;
  margin: 0px 0px 10px 0px;
}
@media (max-width: 991.98px) {
  .newsletter__label {
    margin: 0px 0px 5px 0px;
  }
}
.newsletter__inp {
  position: relative;
}
.newsletter__inp_email::before {
  content: "";
  position: absolute;
  left: 20px;
  top: calc(50% - 3px);
  width: 21px;
  height: 24px;
  background: url("../img/icons/mail-opened.svg") 0 0 no-repeat;
  transform: translate3d(0px, -50%, 0px);
  -webkit-transform: translate3d(0px, -50%, 0px);
  -ms-transform: translate3d(0px, -50%, 0px);
  -o-transform: translate3d(0px, -50%, 0px);
  -moz-transform: translate3d(0px, -50%, 0px);
}
@media (max-width: 767.98px) {
  .newsletter__inp_email::before {
    left: 10px;
  }
}
.newsletter__inp_phone::before {
  content: "";
  position: absolute;
  left: 20px;
  top: calc(50% - 2px);
  width: 21px;
  height: 25px;
  background: url("../img/icons/tel.svg") 0 0 no-repeat;
  transform: translate3d(0px, -50%, 0px);
  -webkit-transform: translate3d(0px, -50%, 0px);
  -ms-transform: translate3d(0px, -50%, 0px);
  -o-transform: translate3d(0px, -50%, 0px);
  -moz-transform: translate3d(0px, -50%, 0px);
}
@media (max-width: 767.98px) {
  .newsletter__inp_phone::before {
    left: 10px;
  }
}
.newsletter__inp_phone .input {
  padding: 0px 0px 0px 0px;
}
.newsletter__inp .input {
  height: 72px;
  padding: 0px 140px 0px 56px;
}
@media (max-width: 767.98px) {
  .newsletter__inp .input {
    font-size: 14px;
    padding: 0px 140px 0px 40px;
  }
}
@media (max-width: 479.98px) {
  .newsletter__inp .input {
    padding: 0px 110px 0px 40px;
  }
}
.newsletter__subscribe {
  position: absolute;
  right: 30px;
  top: calc(50% + 3px);
  font-size: 12px;
  color: #22c3ca;
  text-transform: uppercase;
  transform: translate3d(0px, -50%, 0px);
  -webkit-transform: translate3d(0px, -50%, 0px);
  -ms-transform: translate3d(0px, -50%, 0px);
  -o-transform: translate3d(0px, -50%, 0px);
  -moz-transform: translate3d(0px, -50%, 0px);
  font-weight: 500;
}
@media (max-width: 991.98px) {
  .newsletter__subscribe {
    right: 15px;
  }
}
@media (min-width: 767.98px) {
  .newsletter__subscribe {
    letter-spacing: 0.8px;
  }
}
@media (max-width: 479.98px) {
  .newsletter__subscribe {
    right: 10px;
  }
}
.newsletter__text {
  color: #fff;
  line-height: 171.4285714286%;
}

.special {
  background-color: #fbfbfb;
  padding-top: 80px;
  padding-bottom: 60px;
}
@media (max-width: 1332px) {
  .special {
    padding-top: calc(30px + 50 * ((100vw - 320px) / 1012));
  }
}
@media (max-width: 1332px) {
  .special {
    padding-bottom: calc(10px + 50 * ((100vw - 320px) / 1012));
  }
}
.special__title {
  margin-bottom: 40px;
}
@media (max-width: 1332px) {
  .special__title {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1012));
  }
}
.special__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -16px;
}
.special__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0px 0px 20px 0px;
  padding: 0px 16px;
}
@media (max-width: 991.98px) {
  .special__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.special__item {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
@media (min-width: 991.98px) {
  .special__item:hover .special__body {
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
  }
}
.special__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.special__body {
  min-height: 350px;
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
@media (min-width: 991.98px) {
  .special__body {
    transform: translate3d(0px, 100%, 0px);
    -webkit-transform: translate3d(0px, 100%, 0px);
    -ms-transform: translate3d(0px, 100%, 0px);
    -o-transform: translate3d(0px, 100%, 0px);
    -moz-transform: translate3d(0px, 100%, 0px);
  }
}
.special__body *:last-child {
  margin-bottom: 0;
}
@media (max-width: 479.98px) {
  .special__body {
    min-height: 300px;
  }
}
.special__label {
  font-size: 24px;
  font-weight: 500;
  line-height: 133.3333333333%;
  margin: 0px 0px 5px 0px;
}
.special__text {
  line-height: 171.4285714286%;
  margin: 0px 0px 15px 0px;
}
.special__link {
  display: inline-block;
  color: #22c3ca;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  line-height: 133.3333333333%;
  margin: 0px 0px 10px 0px;
}

.feedback {
  background-color: #fbfbfb;
  padding-top: 50px;
  padding-bottom: 80px;
}
@media (max-width: 1332px) {
  .feedback {
    padding-top: calc(10px + 40 * ((100vw - 320px) / 1012));
  }
}
@media (max-width: 1332px) {
  .feedback {
    padding-bottom: calc(30px + 50 * ((100vw - 320px) / 1012));
  }
}
.feedback__title {
  margin: 0px 0px 25px 0px;
}
.slider-feedback {
  position: relative;
}
.slider-feedback__body {
  margin: 0px -16px;
}
@media (max-width: 650px) {
  .slider-feedback__body {
    margin: 0px -16px 25px -16px;
  }
}
.slider-feedback__slide {
  padding: 0px 16px;
}
.slider-feedback__arrows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider-feedback__arrows .swiper-button-disabled {
  opacity: 0.3 !important;
}
@media (max-width: 650px) {
  .slider-feedback__arrows {
    display: none;
  }
}
.slider-feedback__arrow {
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: #22c3ca;
  position: absolute;
  top: 50%;
  opacity: 0.7;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.slider-feedback__arrow_next {
  right: 0;
  transform: translate3d(50%, -50%, 0px);
  -webkit-transform: translate3d(50%, -50%, 0px);
  -ms-transform: translate3d(50%, -50%, 0px);
  -o-transform: translate3d(50%, -50%, 0px);
  -moz-transform: translate3d(50%, -50%, 0px);
}
.slider-feedback__arrow_next::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: calc(50% - 1px);
  width: 13px;
  height: 21px;
  background: url("../img/icons/arr_slider_r.png") 0 0 no-repeat;
  transform: translate3d(-50%, -50%, 0px);
  -webkit-transform: translate3d(-50%, -50%, 0px);
  -ms-transform: translate3d(-50%, -50%, 0px);
  -o-transform: translate3d(-50%, -50%, 0px);
  -moz-transform: translate3d(-50%, -50%, 0px);
}
@media (max-width: 1380px) {
  .slider-feedback__arrow_next {
    transform: translate3d(0%, -50%, 0px);
    -webkit-transform: translate3d(0%, -50%, 0px);
    -ms-transform: translate3d(0%, -50%, 0px);
    -o-transform: translate3d(0%, -50%, 0px);
    -moz-transform: translate3d(0%, -50%, 0px);
  }
}
.slider-feedback__arrow_prev {
  left: 0;
  transform: translate3d(-50%, -50%, 0px);
  -webkit-transform: translate3d(-50%, -50%, 0px);
  -ms-transform: translate3d(-50%, -50%, 0px);
  -o-transform: translate3d(-50%, -50%, 0px);
  -moz-transform: translate3d(-50%, -50%, 0px);
}
.slider-feedback__arrow_prev::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: calc(50% - 1px);
  width: 13px;
  height: 21px;
  background: url("../img/icons/arr_slider.png") 0 0 no-repeat;
  transform: translate3d(-50%, -50%, 0px);
  -webkit-transform: translate3d(-50%, -50%, 0px);
  -ms-transform: translate3d(-50%, -50%, 0px);
  -o-transform: translate3d(-50%, -50%, 0px);
  -moz-transform: translate3d(-50%, -50%, 0px);
}
@media (max-width: 1380px) {
  .slider-feedback__arrow_prev {
    transform: translate3d(0%, -50%, 0px);
    -webkit-transform: translate3d(0%, -50%, 0px);
    -ms-transform: translate3d(0%, -50%, 0px);
    -o-transform: translate3d(0%, -50%, 0px);
    -moz-transform: translate3d(0%, -50%, 0px);
  }
}
.slider-feedback__dotts {
  text-align: center;
}
@media (min-width: 651px) {
  .slider-feedback__dotts {
    display: none;
  }
}
.slider-feedback__dotts .swiper-pagination-bullet-active {
  background-color: #22c3ca;
}
.slider-feedback__dotts .swiper-pagination-bullet {
  cursor: pointer;
  width: 12px;
  height: 12px;
  display: inline-block;
  border: 1px solid #22c3ca;
  border-radius: 50%;
  margin: 0px 8px;
}

.item-feedback {
  background-color: #fff;
  padding: 32px 20px 60px 32px;
}
@media (max-width: 767.98px) {
  .item-feedback {
    padding: 25px;
  }
}
.item-feedback__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
.item-feedback__text {
  line-height: 171.4285714286%;
}

.page {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}